.cf-hidden {
    display: none !important;
}

/* Contenedor principal (El Marco) */
#cf-form {

    max-width: 450px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #632D3A;
    border-radius: 30px;
    background-color: #FFFDF8;
    font-family: Barlow;
    color: #632D3A;
}

.multi-step-form label {
    user-select: none;
}

.multi-step-form strong {
    font-weight: bold !important;
}
.cf-step5-label{
    margin: 20px 0
}
/* Título */
.cf-form-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.cf-form-subtitle {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

/* Inputs de texto (Nombre, Tel, Email) */
.cf-input {
    width: 100%;
    padding: 8px 40px;
    margin-bottom: 10px;
    border: 1px solid #632D3A;
    font-family: Barlow;
    font-size: 22px;
    border-radius: 5px;
    background: transparent;
    color: #712B38;
    box-sizing: border-box;
    /* Importante para que no se salga del marco */
}

.cf-input::placeholder {
    color: #712B38;
    opacity: 0.8;
}

/*Inputs adicionales del test*/
.cf-input-sub {
    width: 75%;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #632D3A;
    font-family: Barlow;
    font-size: 18px;
    border-radius: 5px;
    background: transparent;
    color: #712B38;
    box-sizing: border-box;
}

#cf_peso,
#cf_altura {
    width: 30%;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #632D3A;
    font-family: Barlow;
    font-size: 18px;
    border-radius: 5px;
    background: transparent;
    color: #712B38;
    box-sizing: border-box;
}
.cf-toggle{
    
    font-size: 17px;
    padding: 5px 30px;
}



/* Botones de Servicios */
.cf-services {
    display: flex;
    justify-content: center;
    align-items: center;
}



.cf-services {
    margin-top: 10px;

}

.cf-btn-service:hover {
    background-color: #F0CCD7;
}







/*(Rosa malva)*/

#cf-btn-disponibilidad {
    width: 100%;
    background-color: #DD7D99;
    border: none;
    border-radius: 20px;
    padding: 15px;
    color: #712B38;
    cursor: pointer;
}

/*(Amarillo suave)*/
#cf-btn-test {
    width: 100%;
    background-color: #EBE682;
    border: none;
    border-radius: 20px;
    padding: 15px;
    color: #712B38;
    cursor: pointer;
}

/* Labels debajo de los botones de acción */
.cf-action-group label {
    font-size: 12px;
    margin-top: 10px;
    color: #712B38;
    line-height: 1.2;
}

/* Checkboxes y Legal */

.cf-legal {
    margin-top: 10px;
}

.cf-checkbox-group {
    width: 70%;
    font-size: 16px;
    font-family: Barlow;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}






/* Separador y Enlaces finales */
hr {
    border: 0;
    border-top: 1px solid #f0e0e0;
    margin: 20px 0;
}

.cf-footer-links {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
}

.cf-footer-links a {
    color: #712B38;
    text-decoration: none;
}


/* Estilos para mostrar y ocultar los pasos */

.step {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.step.active {
    display: block;
}

.step.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Estilo básico para botones */
button,
.options-group label {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f9f9f9;
}

.cf-btn-main {
    background-color: #EBE682;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    color: #712B38;
    cursor: pointer;
}

.btn-validate {
    background-color: #DD7D99;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    color: #712B38;
    cursor: pointer;
}
.cf-actions-final{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cf-btn-btn-final{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}
.cf-btn-cita{
    width: 100%;
    background-color: #DD7D99;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #712B38;
    cursor: pointer;
    font-size: 20px;
}
.cf-btn-call{
    width: 47%;
    background-color: #EBE682;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #712B38;
    cursor: pointer;
    font-size: 20px;
}
.cf-btn-date{
    width: 47%;
    background-color: transparent;
    border: solid  1px #632D3A;
    border-radius: 20px;
    padding: 10px 30px;
    color: #712B38;
    cursor: pointer;
    font-size: 20px;
}
/* Pastillas selección  */


.cf-pill-selector {
    display: flex;
    flex-wrap: wrap;
}

#fc-step-disponibilidad .cf-pill {
    width: 20%;
    margin: 10px 10px;
}


.cf-pill {

    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #632D3A;
    border-radius: 25px;
    background: transparent;
    color: #712B38;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}


.cf-pill.selected {
    background-color: #F0CCD7;
}

.cf-pill:hover:not(.selected) {

    background-color: #F0CCD7;
}

/*Imagen*/
.cf-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.cf-img-check{
    align-items: center;
}